/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 30, 2020, 12:24:38 AM
    Author     : Isaac
*/

@import url("import-JetBrains-mono.css");

.topPane{
     -fx-background-color:rgba(22,162,160,0.8);/*#16A2A0;*/
}

.centerPane{
    /*-fx-background-color:#DEEEEE;*/
    -fx-background-image: url("../images/hen1.jpg");
    -fx-background-size: 100%;
}

.monthlyOverview{
    -fx-background-color:rgba(222,238,238,0.4);
    -fx-background-radius: 0.6em;
    -fx-border-radius: 0.6em;
    -fx-border-color: #DDDDDD;
}

.flowPane{
    fx-background-color:#FFFFFF;
}

/**Image color: #747676*/

.logoName{
     -fx-font-family :"Cambria";
     -fx-font-size:22px;
     -fx-text-fill: #FFFFFF;
}

.nameProfile{
     -fx-font-family: "Colibri";
     -fx-font-size:18px;
     -fx-text-fill: #000000;
}

.typeEmProfile{
     -fx-font-family: "Colibri";
     -fx-font-size:14px;
     -fx-text-fill: #555555;
}

.group{
     -fx-font-family: "Colibri";
     -fx-font-size:14px;
     -fx-text-fill: #999999;
}

.option{
    -fx-font-size:16px;
}

.option:hover{
    -fx-background-color:#CCCCCC;    
}

.optionSelected{
    -fx-font-size:16px;
    -fx-background-color:#16A2A0;
    -fx-background-radius:0.4em;
    -fx-text-fill: #FFFFFF;
}

.welcome{
     -fx-font-family :"Cambria";
     -fx-font-size:24px;
     -fx-text-fill: #FFFFFF;
}

.notification{
    -fx-font-family :"Arial";
     -fx-font-size:14px;
     -fx-font-style: oblique;
     -fx-text-fill: #FFFFFF;
}

.dashItem{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #dddddd;
    -fx-border-radius: 0.7em;
    -fx-background-radius: 0.7em;
}

.dashItem:hover{
    -fx-background-color: #DDDDDD;
    -fx-background-radius: 0.7em;
}

.dashItemName{
    -fx-font-family: "JetBrainMono";
    -fx-font-size:12px;
    -fx-text-fill: #999999;
}

.dashItemMoney{
    -fx-font-family: "Colibri";
    -fx-font-size:18px;
    -fx-text-fill: #000000;
}