/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 28, 2020, 7:57:54 AM
    Author     : Isaac
*/

.root{
    -fx-background-image: url('../images/hen1.jpg');
    -fx-background-size: 100%;
   
}

.rootPane{
    -fx-background-color:rgba(255,255,255,0.7);
    -fx-background-radius: 0.3em;
}

#report{
    -fx-text-fill:#16A2A0;
}

#reportFailed{
    -fx-text-fill: #FA0000;
}

.imageView{
    
}

.ok,.confirm{
    -fx-text-fill: #16A2A0;
    -fx-border-color: #16A2A0;
    -fx-border-radius:0.3em;
}

.ok:hover,.confirm:hover{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #16A2A0;
    -fx-border-radius:0.3em;
}

#cancel{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgb(165, 165, 76);
    -fx-border-radius:0.3em;
}